apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: cloudacademy/api:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: MONGO_CONN_STR
          value: "mongodb://mongo-0.mongo,mongo-1.mongo,mongo-2.mongo:27017/languages"
        ports:
        - containerPort: 8080
